/Codeforces/codeforces690/nbproject/private/
/Codeforces/codeforces690/build/
/Codeforces/Educational round 100/nbproject/private/
/Codeforces/Educational round 100/build/
/Codeforces/round 691/nbproject/private/
/Codeforces/round 691/build/
/Atcoder/Beginner contest 186/nbproject/private/
/Atcoder/Beginner contest 186/build/
/Codechef/DecemberLunchtime/nbproject/private/
/Codeforces/educational101/nbproject/private/
/Codeforces/educational101/build/
/Codeforces/codeforcesround693/nbproject/private/
/Codeforces/codeforcesround693/build/
/Codeforces/codeforcesround694/nbproject/private/
/Codeforces/codeforcesround694/build/
/Codeforces/codeforcesround695/nbproject/private/
/Codeforces/codeforcesround695/build/
/Codeforces/codeforcesround696/nbproject/private/
/Codeforces/codeforcesround696/build/
/Atcoder/beginer189/nbproject/private/
/Atcoder/beginer189/build/